.task{
    background: white;
    border-radius: 4px;
    min-height: 5rem;
    color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
};

.bottomWrapper {
    display: flex;
    justify-content: space-between;
};

.status {
    font-size: small;
    background: var(--COLOR-GRAY-LIGHT);
    padding: 0.25rem;
    border-radius: 4px;
};

.PLANNED{
background: var(--COLOR-GRAY-LIGHT);
};

.ONGOING{
background: var(--COLOR-ONGOING);
};

.DONE{
background: var(--COLOR-DONE);
}

.Modal {
    position: absolute;
    background: rbga(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ModalContent{
    background: white;
    position: absolute;
    z-index: 1;
    padding: 1rem;
    height: 3rem;
    width: 20rem;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

